/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* General Styling */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
}

/* Navigation Bar */
.navbar {
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  height: 60px;
  justify-content: space-between;
  padding: 0px 120px;
}

.navbar ul {
  list-style: none;
}

.navbar ul li {
  display: inline-block;
}

.navbar ul li a {
  color: #0a0b0d;
  display: block;
  font-size: 14px;
  text-decoration: none;
  transition: all 0.3s;
}

.navbar-title p a {
  color: #0466c8;
  font-family: "Bauhaus 93", sans-serif;
  font-size: 24px;
  text-decoration: none;
}

.navbar-title p a span {
  color: #ff5400;
}

.navbar-menu-box {
  display: none;
}

.navbar ul.navbar-list-one li {
  margin-left: 30px;
}

.navbar ul.navbar-list-one li a:hover,
.navbar ul.navbar-list-two li a:hover {
  color: #ff5400;
}

.navbar ul.navbar-list-one li a.navbar-home,
.resbar ul li a.resbar-home {
  color: #ff5400;
}

.navbar ul.navbar-list-two li a.navbar-btn {
  background-color: #0466c8;
  border: none;
  border-radius: 5px;
  color: #fff;
  display: block;
  margin-left: 20px;
  padding: 15px 20px;
}
.navbar ul.navbar-list-two li a.navbar-btn:hover {
  background-color: #ff5400;
}

@media screen and (max-width: 1300px) {
  .navbar {
    padding: 0px 100px;
  }

  .navbar-title {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .navbar ul {
    display: none;
  }

  .navbar-menu-box {
    cursor: pointer;
    display: block;
  }

  .navbar-menu-bar {
    background-color: #ff5400;
    border-radius: 300px;
    padding: 1.5px;
    width: 25px;
  }

  .navbar-menu-bar-1 {
    background-color: #0466c8;
    margin-bottom: 5px;
  }
}
@media screen and (max-width: 900px) {
  .navbar {
    padding: 0px 50px;
  }
}
@media screen and (max-width: 600px) {
  .navbar {
    padding: 0px 30px;
  }
}

/* Responsive Navigation Bar */
.resbar {
  display: none;
}

@media screen and (max-width: 1300px) {
  .resbar {
    background-color: #fff;
    display: block;
    height: auto;
    left: 0;
    padding-bottom: 50px;
    position: absolute;
    top: 0;
    transform: translateY(-100%);
    width: 100%;
    z-index: 20;
  }

  @keyframes resbarEntree {
    from {
      box-shadow: 0px 3px 10px rgba(0, 0, 0, 0);
      transform: translateY(-100%);
    }

    to {
      box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
      transform: translateY(0%);
    }
  }
  @keyframes resbarExit {
    from {
      box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
      transform: translateY(0%);
    }

    to {
      box-shadow: 0px 3px 10px rgba(0, 0, 0, 0);
      transform: translateY(-100%);
    }
  }

  .resbar-title {
    align-items: center;
    display: flex;
    height: 60px;
    padding: 0px 100px;
    justify-content: space-between;
  }

  .resbar-title p a {
    color: #0466c8;
    font-family: "Bauhaus 93", sans-serif;
    font-size: 24px;
    text-decoration: none;
  }

  .resbar-title p a span {
    color: #ff5400;
  }

  .res-menu-box {
    cursor: pointer;
  }

  @keyframes resmenuBox {
    from {
      transform: rotateZ(0deg);
    }

    to {
      transform: rotateZ(45deg);
    }
  }
  @keyframes resmenuBoxClicked {
    from {
      transform: rotateZ(45deg);
    }

    to {
      transform: rotateZ(0deg);
    }
  }

  .res-menu-bar {
    background-color: #ff5400;
    border-radius: 300px;
    padding: 1.5px;
    width: 25px;
  }

  .res-menu-bar-1 {
    background-color: #0466c8;
    margin-bottom: 5px;
  }

  @keyframes resBar1 {
    from {
      transform: rotateZ(0deg);
    }

    to {
      transform: rotateZ(90deg);
    }
  }
  @keyframes resBar1Clicked {
    from {
      transform: rotateZ(90deg);
    }

    to {
      transform: rotateZ(0deg);
    }
  }

  @keyframes resBar2 {
    from {
      transform: translateY(0px);
    }

    to {
      transform: translateY(-8px);
    }
  }
  @keyframes resBar2Clicked {
    from {
      transform: translateY(-8px);
    }

    to {
      transform: translateY(0px);
    }
  }

  .resbar ul {
    list-style: none;
    margin-top: 10px;
  }

  .resbar ul li {
    margin-bottom: 10px;
    text-align: center;
  }

  .resbar ul li a {
    color: #0a0b0d;
    display: block;
    font-size: 14px;
    padding: 15px 0px;
    text-decoration: none;
    transition: all 0.3s;
  }
  .resbar ul li a:hover {
    color: #ff5400;
  }

  .resbar ul li a.resbar-btn {
    background-color: #0466c8;
    border: none;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    padding: 15px 20px;
    transition: all 0.3s;
  }
  .resbar ul li a.resbar-btn:hover {
    background-color: #ff5400;
  }
}
@media screen and (max-width: 900px) {
  .resbar-title {
    padding: 0px 50px;
  }
}
@media screen and (max-width: 600px) {
  .resbar-title {
    padding: 0px 30px;
  }
}

/* Division One */
.division-one {
  padding: 100px 120px;
  text-align: center;
}

.div1-container h1 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
}

.div1-search-box {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 300px;
  display: inline-block;
  padding: 20px 25px;
  text-align: left;
  width: 450px;
}

.div1-search-box input {
  border: 1px solid rgba(0, 0, 0, 0);
  font-size: 13px;
  margin-left: 10px;
}

::placeholder {
  color: #0a0b0d;
  opacity: 0.58;
}

.div1-search-box .fa {
  color: #0a0b0d;
  opacity: 0.58;
}

@media screen and (max-width: 1300px) {
  .division-one {
    padding: 100px;
  }
}
@media screen and (max-width: 900px) {
  .division-one {
    padding: 100px 50px;
  }
}
@media screen and (max-width: 600px) {
  .division-one {
    padding: 100px 30px;
  }

  .div1-container h1 {
    font-size: 30px;
  }

  .div1-search-box {
    width: 100%;
  }
}

/* Division Two */
.division-two {
  padding: 0px 10px;
}

.main-container {
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-areas:
    "s1 s1 s2"
    "s1 s1 s3"
    "s1 s1 s4";
  grid-template-columns: repeat(3, 1fr);
  height: 100%;
}

.sections {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 50px 30px;
}

.section-heading {
  margin-bottom: 20px;
}

.section-heading h3 {
  font-size: 20px;
  font-weight: 500;
}

/* section one */
.section-one {
  grid-area: s1;
  padding: 50px;
}

.section-heading-one {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.section-heading-one h3 span {
  color: #454545;
  font-size: 14px;
  margin-left: 10px;
  opacity: 0.65;
}

.section-heading-one-btns {
  align-items: center;
  display: flex;
}

.section-heading-one-btns p {
  background-color: rgba(170, 170, 170, 0.2);
  border-radius: 10px;
  color: #454545;
  cursor: pointer;
  font-size: 14px;
  margin-left: 10px;
  padding: 10px 15px;
  transition: all 0.3s;
}
.section-heading-one-btns p:hover {
  background-color: #ff5400;
  color: #fff;
}

.section-heading-one-btns p:first-of-type {
  margin-left: 0px;
}

.section-subheading {
  align-items: center;
  display: flex;
  margin-bottom: 20px;
}

.section-subheading-btn {
  align-items: center;
  background-color: rgba(170, 170, 170, 0.2);
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  margin-left: 10px;
  padding: 15px;
  transition: all 0.3s;
}
.section-subheading-btn:hover {
  background-color: rgba(255, 84, 0, 1);
  color: #fff;
}

.section-subheading-btn-1 {
  background-color: #0466c8;
  color: #fff;
  margin-left: 0px;
}

.icon-box {
  height: 24px;
  margin-right: 8px;
  width: 24px;
}

.icon-1 {
  background: url("../images/explore/icon-1.png") center/cover;
}

.icon-2 {
  background: url("../images/explore/icon-2.png") center/cover;
}

.icon-3 {
  background: url("../images/explore/icon-3.png") center/cover;
}

.icon-4 {
  background: url("../images/explore/icon-4.png") center/cover;
}

.table-head {
  align-items: center;
  display: grid;
  grid-column-gap: 0.2%;
  grid-template-columns: 20% 25% 11% 13% 20% 10%;
  height: 40px;
  margin-bottom: 10px;
}

.table-head p {
  color: #454545;
  font-size: 14px;
}

.table-row {
  align-items: center;
  display: grid;
  grid-column-gap: 0.2%;
  grid-template-columns: 20% 25% 11% 13% 20% 10%;
  height: 34px;
  margin-bottom: 50px;
}

.table-cell-1 {
  align-items: center;
  display: grid;
  grid-template-columns: 36px auto;
}

.image-box {
  height: 36px;
  width: 36px;
}

.image-1 {
  background: url("../images/explore/image-1.png") center/cover;
}

.image-2 {
  background: url("../images/explore/image-2.png") center/cover;
}

.image-3 {
  background: url("../images/explore/image-3.png") center/cover;
}

.image-4 {
  background: url("../images/explore/image-4.png") center/cover;
}

.image-5 {
  background: url("../images/explore/image-5.png") center/cover;
}

.image-6 {
  background: url("../images/explore/image-6.png") center/cover;
}

.image-7 {
  background: url("../images/explore/image-7.png") center/cover;
}

.name-box {
  margin-left: 10px;
}

.name-box p {
  font-size: 16px;
}

.name-box p:last-of-type {
  font-size: 14px;
  margin-top: 10px;
}

.table-cell-2 p,
.table-cell-4 p,
.table-cell-5 p {
  font-size: 16px;
}

.table-cell-3 {
  display: flex;
  justify-content: left;
}

.chart-box {
  height: 34px;
  width: 100%;
}

.chart-1 {
  background: url("../images/explore/chart-1.png") left no-repeat;
}

.chart-2 {
  background: url("../images/explore/chart-2.png") left no-repeat;
}

.chart-3 {
  background: url("../images/explore/chart-3.png") left no-repeat;
}

.chart-4 {
  background: url("../images/explore/chart-4.png") left no-repeat;
}

.chart-5 {
  background: url("../images/explore/chart-5.png") left no-repeat;
}

.chart-6 {
  background: url("../images/explore/chart-6.png") left no-repeat;
}

.chart-7 {
  background: url("../images/explore/chart-7.png") left no-repeat;
}

.table-cell-4 p {
  color: #098551;
}

.table-cell-6 a {
  background-color: #0466c8;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  padding: 10px 15px;
  text-decoration: none;
  transition: all 0.3s;
}
.table-cell-6 a:hover {
  background-color: #ff5400;
}

.table-foot {
  margin-top: 60px;
}

.table-foot-item-1 {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.table-foot-item-1 a {
  border-radius: 300px;
  color: #454545;
  font-size: 16px;
  padding: 6px 13px;
  text-decoration: none;
  transition: all 0.3s;
}
.table-foot-item-1 a:hover {
  background-color: rgba(69, 69, 69, 0.2);
}

.table-foot-item-1 a:first-of-type {
  background-color: #0466c8;
  color: #fff;
}
.table-foot-item-1 a:first-of-type:hover {
  background-color: #ff5400;
}

.table-foot-item-1 p {
  color: #454545;
  font-size: 16px;
  opacity: 0.65;
}

.table-foot-item-2 p {
  color: #454545;
  font-size: 14px;
  opacity: 0.64;
  text-align: center;
}

/* section two */
.section-two {
  grid-area: s2;
}

.sect2-row,
.sect3-row,
.sect4-row {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.sect2-last-row,
.sect3-last-row,
.sect4-last-row {
  margin-bottom: 0px;
}

.item-box {
  align-items: center;
  display: grid;
  grid-template-columns: auto auto;
}

.image-8 {
  background: url("../images/explore/image-8.png") center/cover;
}

.image-9 {
  background: url("../images/explore/image-9.png") center/cover;
}

.image-10 {
  background: url("../images/explore/image-10.png") center/cover;
}

.date-box p {
  font-size: 14px;
}

/* section three */
.section-three {
  grid-area: s3;
}

.image-11 {
  background: url("../images/explore/image-11.png") center/cover;
}

.image-12 {
  background: url("../images/explore/image-12.png") center/cover;
}

.image-13 {
  background: url("../images/explore/image-13.png") center/cover;
}

.price-box {
  text-align: right;
}

.price-box p {
  font-size: 16px;
}

.price-box p:last-of-type {
  color: #098551;
  margin-top: 10px;
}

.price-box p i {
  margin-right: 10px;
  transform: rotateZ(30deg);
}

/* section four */
.section-four {
  grid-area: s4;
}

.image-14 {
  background: url("../images/explore/image-14.png") center/cover;
}

.image-15 {
  background: url("../images/explore/image-15.png") center/cover;
}

.image-16 {
  background: url("../images/explore/image-16.png") center/cover;
}

.trend-box {
  align-items: center;
  display: flex;
}

.trend-box p {
  font-size: 16px;
}

.trend-box p i {
  margin-right: 6px;
  transform: rotateZ(30deg);
}

.trend-box p:first-of-type {
  color: #098551;
  margin-right: 10px;
}

@media screen and (max-width: 1300px) {
  .main-container {
    grid-template-areas:
      "s1 s1 s1"
      "s1 s1 s1"
      "s2 s3 s4";
    grid-template-columns: repeat(3, 1fr);
  }

  .section-heading h3 {
    font-size: 16px;
  }

  /* section one */
  .section-one {
    grid-area: s1;
    padding: 50px 30px;
  }

  .section-heading-one h3 span {
    font-size: 12px;
  }

  .section-heading-one-btns p {
    font-size: 12px;
  }

  .section-subheading-btn {
    font-size: 12px;
  }

  .table-head p {
    font-size: 12px;
  }

  .name-box p {
    font-size: 14px;
  }

  .name-box p:last-of-type {
    font-size: 12px;
  }

  .table-cell-2 p,
  .table-cell-4 p,
  .table-cell-5 p {
    font-size: 14px;
  }

  .table-cell-6 a {
    font-size: 14px;
  }

  .table-foot-item-1 a {
    font-size: 14px;
  }

  .table-foot-item-1 p {
    font-size: 14px;
  }

  .table-foot-item-2 p {
    font-size: 12px;
  }

  /* section two */
  .section-two {
    grid-area: s2;
  }

  .date-box p {
    font-size: 12px;
  }

  /* section three */
  .section-three {
    grid-area: s3;
  }

  .price-box p {
    font-size: 14px;
  }

  /* section four */
  .section-four {
    grid-area: s4;
  }

  .trend-box p {
    font-size: 14px;
  }
}
@media screen and (max-width: 900px) {
  .main-container {
    grid-template-areas:
      "s1 s1"
      "s2 s3"
      "s4 s3";
    grid-template-columns: repeat(2, 1fr);
  }

  /* section one */
  .section-one {
    grid-area: s1;
  }

  /* section two */
  .section-two {
    grid-area: s2;
  }

  /* section three */
  .section-three {
    grid-area: s3;
  }

  /* section four */
  .section-four {
    grid-area: s4;
  }
}
@media screen and (max-width: 600px) {
  .main-container {
    grid-template-areas:
      "s1"
      "s2"
      "s3"
      "s4";
    grid-template-columns: 1fr;
  }

  .sections {
    padding: 50px 20px;
  }

  /* section one */
  .section-one {
    grid-area: s1;
  }

  .section-subheading {
    display: block;
  }

  .section-subheading-btn {
    margin-bottom: 10px;
    margin-left: 0px;
    padding: 20px 15px;
  }

  .section-subheading-btn-4 {
    margin-bottom: 0px;
  }

  .name-box p {
    font-size: 12px;
  }

  .name-box p:last-of-type {
    font-size: 10px;
  }

  .table-cell-2 p,
  .table-cell-4 p,
  .table-cell-5 p {
    font-size: 12px;
  }

  .table-cell-6 a {
    font-size: 12px;
    padding: 10px;
  }

  .table-foot {
    margin-top: 60px;
  }

  .table-foot-item-1 {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }

  .table-foot-item-1 a {
    font-size: 12px;
    padding: 5px 10px;
  }

  .table-foot-item-1 p {
    font-size: 12px;
  }

  .table-foot-item-2 p {
    font-size: 10px;
  }

  /* section two */
  .section-two {
    grid-area: s2;
  }

  /* section three */
  .section-three {
    grid-area: s3;
  }

  /* section four */
  .section-four {
    grid-area: s4;
  }
}
@media screen and (max-width: 400px) {
  .division-two {
    padding: 0px;
  }

  .main-container {
    grid-template-areas:
      "s1"
      "s2"
      "s3"
      "s4";
    grid-template-columns: 1fr;
  }

  /* section one */
  .section-one {
    grid-area: s1;
    padding: 50px 10px;
  }

  .table-head {
    grid-column-gap: 0.2%;
    grid-template-columns: 22% 25% 11% 13% 18% 10%;
  }

  .table-head p {
    font-size: 5px;
  }

  .table-row {
    grid-column-gap: 0.2%;
    grid-template-columns: 22% 25% 11% 13% 18% 10%;
  }

  .section-one .name-box {
    margin-left: 5px;
  }

  .section-one .name-box p {
    font-size: 6px;
  }

  .section-one .name-box p:last-of-type {
    font-size: 5px;
  }

  .table-cell-2 p,
  .table-cell-4 p,
  .table-cell-5 p {
    font-size: 6px;
  }

  .table-cell-6 a {
    font-size: 6px;
  }

  /* section two */
  .section-two {
    grid-area: s2;
  }

  /* section three */
  .section-three {
    grid-area: s3;
  }

  /* section four */
  .section-four {
    grid-area: s4;
  }
}

/* Footer */
footer {
  padding: 100px 120px;
}

footer ul {
  list-style: none;
}

.footer-container {
  display: grid;
  grid-template-areas:
    "b1 b2 b3 b4"
    "b1 b2 b3 b5"
    "b6 b6 b6 b6";
  grid-template-columns: repeat(4, 1fr);
}

.footer-box-1 {
  grid-area: b1;
}

.footer-box-1 p {
  color: #454545;
  font-size: 14px;
  margin-bottom: 15px;
}

.footer-box-1 p.footer-header {
  color: #0466c8;
  font-family: "Bauhaus 93", sans-serif;
  font-size: 24px;
  margin-bottom: 10px;
  margin-top: -10px;
}

.footer-box-1 p.footer-header span {
  color: #ff5400;
}

.footer-box-2 {
  grid-area: b2;
}

.footer-box-2 ul li,
.footer-box-3 ul li {
  margin-bottom: 20px;
}

.footer-box-2 ul li a,
.footer-box-3 ul li a {
  color: #454545;
  display: inline-block;
  font-size: 14px;
  text-decoration: none;
}

.footer-box-2 p,
.footer-box-3 p,
.footer-box-4 p:first-of-type,
.footer-box-5 p {
  color: #0a0b0d;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 15px;
}

.footer-box-3 {
  grid-area: b3;
}

.footer-box-4 p:last-of-type {
  color: #454545;
  font-size: 14px;
}

.footer-box-4 {
  grid-area: b4;
}

.footer-box-5 {
  grid-area: b5;
}

.footer-inner-box {
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.footer-box-5 input {
  border: 1px solid rgba(0, 0, 0, 0);
}

.footer-email-img {
  background: url("../images/explore/footer-img1.png") center/cover;
  height: 18px;
  width: 28px;
}

.footer-box-6 {
  grid-area: b6;
  margin-top: 40px;
  text-align: center;
}

.footer-box-6 p {
  color: #454545;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
}

@media screen and (max-width: 1300px) {
  footer {
    padding: 100px;
  }
}
@media screen and (max-width: 900px) {
  footer {
    padding: 100px 50px;
  }

  .footer-container {
    grid-column-gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "b1 b2 b3"
      "b4 b2 b3"
      "b5 b5 b5"
      "b6 b6 b6";
    grid-row-gap: 40px;
  }

  .footer-box {
    text-align: center;
  }

  .footer-box-1 {
    grid-area: b1;
    text-align: left;
  }

  .footer-box-2 {
    grid-area: b2;
  }

  .footer-box-3 {
    grid-area: b3;
  }

  .footer-box-4 {
    grid-area: b4;
    text-align: left;
  }

  .footer-box-5 {
    grid-area: b5;
    text-align: left;
  }

  .footer-box-6 {
    grid-area: b6;
  }
}
@media screen and (max-width: 600px) {
  footer {
    padding: 100px 30px;
  }

  .footer-container {
    grid-template-areas:
      "b1 b4"
      "b2 b3"
      "b5 b5"
      "b6 b6";
    grid-template-columns: repeat(2, 1fr);
  }

  .footer-box {
    text-align: left;
  }

  .footer-box-1 {
    grid-area: b1;
  }

  .footer-box-2 {
    grid-area: b2;
  }

  .footer-box-3 {
    grid-area: b3;
  }

  .footer-box-4 {
    grid-area: b4;
  }

  .footer-box-5 {
    grid-area: b5;
  }

  .footer-box-6 {
    grid-area: b6;
    text-align: center;
  }
}
@media screen and (max-width: 400px) {
  .footer-container {
    grid-template-areas:
      "b1 b1"
      "b2 b3"
      "b4 b4"
      "b5 b5"
      "b6 b6";
    grid-template-columns: repeat(2, 1fr);
  }

  .footer-box-1 {
    grid-area: b1;
  }

  .footer-box-2 {
    grid-area: b2;
  }

  .footer-box-3 {
    grid-area: b3;
  }

  .footer-box-4 {
    grid-area: b4;
  }

  .footer-box-5 {
    grid-area: b5;
  }

  .footer-box-6 {
    grid-area: b6;
    text-align: center;
  }
}
